<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">

<head>
	<meta charset="UTF-8">
	<!-- <title>Insert title here</title> -->
</head>

<body>
	<th:block layout:fragment="content">
		<div class="container item-center">
			<form method="post" th:action="|@{/auth/login}|">
				<div class="loginForm">
					<h4 class="text-center mt-5">로그인</h4>
					<div class="mt-4">
						<input class="input px-4 border-basicGrey" type="text" name="loginId" placeholder="이메일 입력"
							required></input>
					</div>
					<div class="mt-4">
						<input class="input px-4" type="password" name="password" placeholder="8자리 이상 비밀번호 입력"
							required></input>
					</div>
				</div>
				<button class="login_btn input mt-4">로그인</button>
				<div>
					<a>회원가입</a>
				</div>
				<th:block th:if="${error}">
					<p id="valid" class="alert alert-danger" th:text="${exception}"></p>
				</th:block>
			</form>
		</div>
</body>

</th:block>

</html>