<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">

<head>
	<title>왓비</title>
	<meta charset="UTF-8">
</head>
<th:block layout:fragment="content">
	<style>

	</style>

	<body>

		<div class="container">
			<section class="left">
				<h2>전체 게시판 정보</h2>
				<h5>공지사항</h5>
				<h5>관리자 메세지 </h5>
				<h5>문의내역 답변 </h5>
				<h5>&ast; 자유게시판 게시글: </h5>
				<h5>&ast; 골드게시판 게시글: </h5>
				<h5><a href="/watb/reserve">예약하기</h5>
			</section>
			<section class="right">
				<div class="login_area">
					<div th:if="${#authorization.expression('!isAuthenticated()')}">
						<button class="login_btn" onclick="location.href = '/users/login'">로그인</button>
						<div class="link_more">
							<a href="/users/join">비밀번호 찾기</a>|
							<a href="/users/join">회원가입</a>
						</div>
					</div>
					<div th:unless="${#authorization.expression('!isAuthenticated()')}">
						<span th:text="${#authentication.getPrincipal()?.getUsername()}"></span>
						<a href="/users/logout">로그아웃</a>
					</div>
				</div>
			</section>
			<section class="notice">
				<h2>회원 기능</h2>
				<h5>날씨</h5>
				<h5>관리자 메세지 </h5>
				<h5>문의내역 답변 </h5>
				<h5>&ast; 자유게시판 게시글: </h5>
				<h5>&ast; 골드게시판 게시글: </h5>
			</section>

		</div>

	</body>
</th:block>

</html>