<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>왓비</title>
	<meta charset="UTF-8">

</head>
<th:block layout:fragment="content">

	<body>
		<div class="main list">
			<!-- <section class="section_info bg-white"> -->
			<section class="bg-white">
				<!-- <p th:if="${not #strings.isEmpty(reservations.id)}"></p> -->
				<div th:if="${reservations == null or reservations.size() == 0}">
					<p>내역없음</p>
				</div>

				<div th:unless="${#lists.isEmpty(reservations)}">
					<span th:text="${#authentication.getPrincipal()?.getUsername()+'님은'}"></span>
					<span th:text="${reservations.size()+'회 예약하셨어요.'}"></span>
					<!-- <p>결제하셨어요.</p> -->
					<table class="table-col">
						<colgroup>
							<col style="width:5%">
							<col style="width:10%">
							<col style="width:10%">
							<col style="width:10%">
							<col style="width:15%">
							<col style="width:15%">
						</colgroup>
						<thead style="text-align: center;">
							<tr>
								<th scope="col">번호</th>
								<th scope="col">예약정보</th>
								<!-- <th scope="col">옵션</th> -->
								<th scope="col">주문번호</th>
								<th scope="col">결제금액</th>
								<th scope="col" colspan="2">주문상태</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="reservation : ${reservations}">
								<td th:text="${reservation.id}"></td>
								<td>
									<div>
										<ul style="padding: 0;">
											<li class="" th:text="${reservation.reservationDate}"></li>
											<li class="time" th:text="${reservation.reservationTime +'~'}"></li>
											<li class="usage" th:text="${reservation.usageTime+'시간'}"></li>
											<li class="guest" th:text="${reservation.guestCount+'명'}"></li>
										</ul>
									</div>
								</td>
								<td th:text="${reservation.merchantUid}"></td>
								<!-- <td>없음</td> -->
								<td th:text="${reservation.amount+'원'}"></td>
								<td>
									<th:block th:if="${reservation.payments.status == 'paid'}">
										<span>결제완료</span>
									</th:block>
									<th:block th:if="${reservation.payments.status == 'cancelled'}">
										<span>환불완료</span>
									</th:block>
								</td>
								<td>
									<th:block th:if="${reservation.payments.status == 'paid'}">
										<button class="cancelBtn" type="button" th:value="${reservation.id}"
											th:attr="data-impUid=${reservation.payments.impUid}">예약취소</button>
									</th:block>
									<th:block th:if="${reservation.payments.status == 'cancelled'}">
										<button type="button" disabled="true">작성불가</button>
									</th:block>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</section>
		</div>
		<script src="/js/mypage.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
			crossorigin="anonymous"></script>
	</body>
</th:block>

</html>