<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>왓비</title>
	<meta charset="UTF-8">

</head>
<th:block layout:fragment="content">
	<!-- 포트원 결제 -->
	<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
	<!-- iamport.payment.js -->
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<style>

	</style>

	<body>
		<script>

		</script>
		<div class="main detail">
			<section class="bg-white">
				<p>아래 내용이 맞는지 확인해주세요.</p>
				<div class="section_inner">
					<div class="card_inner">
						<ul class="card_info_list">
							<li class="card_info_item">
								<div class="title">예약자</div>
								<div id="name" th:text="${#authentication.getPrincipal()?.getNickname()}"></div>
							</li>
							<li class="card_info_item">
								<div class="title">이메일</div>
								<div id="email" th:text="${#authentication.getPrincipal()?.getUsername()}"></div>
							</li>
							<li class="card_info_item">
								<div class="title">일정</div>
								<div class="date_info"></div></span>
							</li>
							<li class="card_info_item">
								<div class="title">인원</div>
								<div class="count_info"></div>
							</li>
							<li class="card_info_item">
								<div class="title">대여</div>
								<div class="option_info"></div>
							</li>
							<li class="card_info_item">
								<div class="title">결제 금액</div>
								<div class="price_info"></div>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<h5>예약 취소 및 환불 규정</h5>
				<div>
					1일 전 ~ 예약 당일 환불 불가
				</div>
				<div>
					당일 예약 후 환불 시 관리자에게 문의 바랍니다.
				</div>
			</section>
			<section>
				<div style="display: flex;">
					<div>
						<p>결제수단</p>
					</div>
					<div class="form-check" style="margin-left: 50px;">
						<input class="form-check-input" type="radio" value="1" name="flexRadioDefault"
							id="flexRadioDefault1" checked>
						<img th:src="@{/img/payment_icon_yellow_small.png}" style="width: 50px">
						<span style="font-size: 13px;">카카오페이</span>
					</div>
				</div>
			</section>
			<section style="border: none;">
				<div class="footer_payment_area">
					<!-- <button class="back_btn">이전</button> -->
					<button class="payment_btn">결제하기</button>
				</div>
			</section>
		</div>
		<script src="/js/detail.js"></script>
		<script src="/js/payment.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
			crossorigin="anonymous"></script>
	</body>
</th:block>

</html>